# Chuoi bi mat ky session - tao bang: openssl rand -base64 32
AUTH_SECRET=anhtuanng04050405@gmail.com

# Mat khau dang nhap ung dung (dat mat khau manh)
APP_PASSWORD=Anhtuanng04050405__

# Token Vercel Blob - Vercel tu them khi ban bat Blob Storage
BLOB_READ_WRITE_TOKEN=__Anhtuanng04050405__